.subscribe {
  margin-left: 93px;
}

.subscribe__title {
  display: block;

  margin-bottom: 20px;

  color: $white-color;

  @include font(14px, 1.14);
  text-transform: uppercase;
}

.subscribe__form {
  position: relative;
}

.subscribe__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;

  background-color: $secondary-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__input[placeholder="E-mail"] {
  color: rgba(255, 255, 255, 0.6);

  font-family: $roboto-ss;
  @include font(16px, 1.25);
}
