$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$secondary-bg-color: #2f303a;
$secondary-button-color: #f5f4fa;
$secondary-address-color: rgba(255, 255, 255, 0.6);
$header-border-color: #ececec;

$roboto-ss: Roboto, sans-serif;
$relaway-ss: Raleway, sans-serif;
