.advantages {
  padding-bottom: 0px;
}

.advantages__title {
  display: none;
}

.advantages__list {
  display: block;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @include for-size(desktop) {
    display: flex;
  }
}

.advantages__item {
  width: 100%;

  @include for-size(tablet) {
    width: calc((100% - (30px * 1)) / 2);
  }

  @include for-size(desktop) {
    width: calc((100% - (30px * 3)) / 4);
  }
}

.advantages__item + .advantages__item {
  margin-left: 30px;
}

.advantages__title--sign {
  margin-bottom: 10px;

  color: $title-text-color;
  text-align: center;

  @include font(14px, 1.14, 0.03em, 700);
  text-transform: uppercase;

  @include for-size(tablet) {
    text-align: left;
  }

  @include for-size(desktop) {
    text-align: left;
  }
}
.advantages__paragraph {
  @include font(14px, 1.71);
}

.advantages__rectangle {
  background-color: $secondary-button-color;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}
