.footer {
  background-color: $secondary-bg-color;
}

.footer__content {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;

  @include for-size(desktop) {
    display: flex;
  }
}

.wrap {
  @include for-size(tablet) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}
