.nav {
  display: flex;
  margin-left: 93px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;
  @include font(14px, 1.14, 0.02em, 500);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav__item--current {
  position: relative;
}

.nav__link--current {
  color: $accent-color;
}

.nav__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;

  background: $accent-color;
  border-radius: 2px;
}
